@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Oswald&family=Quicksand:wght@300&family=Reenie+Beanie&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: grey;
}

h3, h4, h5 {
    color: gray;
}

#logo {
    float: left;
    font-size: 250%;
    padding-left: 30px;
}

/* navigation links */

#menu {
    font-family: Aboreto, Arial;
    letter-spacing: 1px;
    line-height: 100px;
}

#logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image section */

#hero-image {
    height: 500px;
    width: 100%;
    background: url("../assets/images/hero-image.jpg") no-repeat center center;
}

/* Get informed section */

.section {
    height: 600px;
}

.section-color {
    background-image: linear-gradient(to right, #12575a, #317169, #538c76, #79a682, #a3c08e,
     #a6be88, #aabc81, #aeba7b, #889e5f, #638345, #3e682e, #154e18);
    height: 500px;
}

.info-text {
    padding-top: 20px;
}

.image-container {
    width: 300px;
    height: 500px;
    padding: 30px;
    border-style: solid;
}

.image-rec-cover {
    background-image: url("../assets/images/why.jpg") no-repete center center;
    height: 100%;
}

.div-title {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.rectangle-info-left {
    border-style: outset;
    border-width: 1px;
    width: 25%;
    float: left;
    padding: 15px;
    margin-left: 3%;

}

.rectangle-info-right {
    border-style: outset;
    border-width: 1px;
    width: 25%;
    float: right;
    padding: 15px;
    margin-right: 3%;

}
.rectangle-info-center {
    border-style: outset;
    border-width: 1px;
    width: 25%;
    padding: 15px;    
    margin: 0 auto;

}

hr {
    size: 2px;
}

.rectangle-info-left li {
    list-style-type: none;
}
.rectangle-info-right li {
    list-style-type: none;
}
.rectangle-info-center li {
    list-style-type: none;
}

.read-more {
    text-align: right;
    list-style-type: none;
    color: #3a3a3a;
    
}

.read-more a {
    text-decoration: none;
    color: inherit;
}

.read-more a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* About section */

.big-rectangle-info-left {
    border-style:;
    border-width:;
    width: 50%;
    float: left;
    padding: 0;
    margin-left: 3%;
    margin-top: 100px;

}

#container-about{
    height: 300px;
}
.big-rectangle-info-right {
    background-color: white;
    border-style: outset;
    border-width: 1px;
    width: 41%;
    height: 100%;
    float: right;
    padding: 15px;
    margin-right: 3%;
    margin-top: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}
.big-rectangle-info-right p {
    padding-left: 30px;
    padding-right: 20px;
    text-align: justify;
}

.rec-text-center {
    text-align: center;
}

/* subscribe */

#big-rectangle-sub {
    background-color: white;
    text-align: center;
    border-style: outset;
    border-width: 1px;
    width: 41%;
    height: auto;
    float: right;
    padding: 15px;
    margin-right: 3%;
    margin-top: 100px;
}

#button {   
    border-style: outset;
    padding: 0px 95px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 50px;
}

#name-field {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    margin: 15px;

}

#email-field {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    margin: 15px;

}

/*read-more-about page*/

.section-color-long{
    background-image: linear-gradient(to right, #12575a, #317169, #538c76, #79a682, #a3c08e,
    #a6be88, #aabc81, #aeba7b, #889e5f, #638345, #3e682e, #154e18);
   height: fit-content;
}

.big-rec-left {
    border-style: outset;
    border-width: 1px;
    width: 42%;
    padding: 15px;    
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    background-color: white;    
}

.big-rec-center {
    border-style: outset;
    border-width: 1px;
    width: 50%;
    padding: 15px;    
    margin: 0 auto;
    background-color: white;        
}

.big-rec-right {
    border-style: outset;
    border-width: 1px;
    width: 42%;
    height: auto;
    padding: 15px;    
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    background-color: white;    
}

/* Footer */

.header-footer-section {
    background-color: white;
    width: 100%;
    height: 80px;
}

#footer {
    background-color: white;
    font-size: 80%;
}