@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Oswald&family=Quicksand:wght@300&family=Reenie+Beanie&display=swap');

body {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    background-color: rgb(155, 189, 194);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: grey;
}

h3 {
    font-family: Aboreto, Arial;
    color: brown;
}

h4 {
    font-family: Oswald, sans-serif;
}

#logo {
    float: left;
    font-size: 250%;
    padding-left: 30px;
}

/* navigation links */

#menu {
    font-family: Aboreto, Arial;
    letter-spacing: 1px;
    line-height: 100px;
}

#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image section */

#hero-image {
    height: 500px;
    width: 100%;
    background: url(/workspace/project1/assets/images/hero-image.jpg) no-repeat center center;
}

/* Get informed section */

#get-informed-about {
    height: 500px;
}

.div-title {
    text-align: center;
    padding-bottom: 30px;
}

#why-about {
    background-color: blue;
    width: 25%;
    float: left;
    padding: 30px;
    margin-left: 3%;

}

#what-about {
    background-color: green;
    width: 25%;
    float: right;
    padding: 30px;
    margin-right: 3%;

}
#how-about {
    background-color: yellow;
    width: 25%;
    padding: 30px;    
    margin: 0 auto;

}

/* Footer */

#footer {
    font-size: 80%;
}